* {
	font-family: 'Roboto';
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
}
body {
	height: 100%;
	overflow-x: hidden;
}
header {
	margin-bottom: 24px;
}
footer {

	background: var(--black, #05141F);
	color: rgba(242, 242, 242, 0.4);;
}
a
{
  text-decoration: none;
}
ul, ol
{
  list-style-type: none;
}
button {
	cursor: pointer;
}
.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1480px;
	padding: 0 20px;
}